* {
font-family: "JetBrainsMono Nerd Font";
}

window#waybar {
background: transparent;
border-radius: 15px;
}

#custom-nixos {
background: #1e1e2e;
border-radius: 15px;
padding: 0 15px;
font-size: 20px;
}

#workspaces {
background: #1e1e2e;
border-radius: 15px;
padding: 0 5px;
}

#workspaces button {
color: #cdd6f4;
padding: 0 8px;
margin: 0 2px;
border-radius: 10px;
}

#workspaces button.active {
color: #89b4fa;
background: #313244;
}

#clock {
background: #1e1e2e;
border-radius: 15px;
padding: 0 15px;
}

#custom-power {
background: #1e1e2e;
border-radius: 15px;
padding: 0 15px;
font-size: 18px;
}